protocols {
    bgp {
        log-updown;
        group underlay {
            import bgp-clos-in;
            export bgp-clos-out;
            type external;
            mtu-discovery;
            local-as {{ underlay.local.asn }};
            multipath multiple-as;
{% for neighbor in underlay.neighbors %}
            neighbor {{ neighbor.peer_ip }} {
                peer-as {{ neighbor.asn }};
            }
{% endfor %}
        }
    }
}


routing-options {
    router-id {{ host.loopback.ip }};
    forwarding-table {
        export PFE-LB;
    }
}


policy-options {
    policy-statement PFE-LB {
        then {
            load-balance per-packet;
        }
    }
    policy-statement bgp-clos-in {
        term loopbacks {
            from {
                route-filter 10.0.0.0/8 orlonger;
            }
            then accept;
        }
        term reject {
            then reject;
        }
    }
    policy-statement bgp-clos-out {
        term loopback {
            from {
                protocol direct;
                route-filter {{ host.loopback.ip }}/32 orlonger;
            }
            then {
                next-hop self;
                accept;
            }
        }
        term server-L3-gw {
            from {
                protocol direct;
                route-filter 10.0.0.0/8 orlonger;
            }
            then {
                next-hop self;
                accept;
            }
        }
    }
}
